body { 
  background-color: #eff1f5;
  font-family: Arial; 
  max-width: 720px; 
  margin: 40px auto; }
label { 
  display: block; 
  margin-top: 12px; }
input[type="text"], 
input[type="url"] { 
  width: 100%; 
  padding: 12px; 
  font-size: 16px; }
button {
  margin-top: 16px; 
  padding: 12px 20px; 
  font-size: 16px; 
  background-color: #181825;
  color: #cdd6f4;
  border-radius: 10px;
  border: 10px;
  border-color: #cdd6f4;}

button:hover{
  background-color: #74c7ec;
  color: #cdd6f4;
  margin-top: 16px; 
  padding: 12px 20px; 
  font-size: 16px; 
  border-radius: 10px;
  border: 10px;
  border-color: #11111b;

}