body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  background-color: #eff1f5;
}

div.pyrunner{
}

div.pypad{
}
div.pyrunbutton{

}
div.rsidebar{
}
/*above is just stuff for testing, keep it in so you don't forget what you named things*/

textarea{
  width: auto; height: auto; font-size:medium;
  background-color: #eff1f5;
}



button{
  margin-top: auto; font-size: medium; font-weight: bolder;
  background-color: #181825;
  color: #cdd6f4;
  border-radius: 10px;
  border: 10px;
  border-color: #cdd6f4;
}
button:hover{
  background-color: #74c7ec;
  color: #cdd6f4;
  margin-top: auto; font-size: medium; font-weight: bolder;
  border-radius: 10px;
  border: 10px;
  border-color: #11111b;

}

pre{
  background: powderblue; padding:10px;
}